<center><h2>Show Vegetable</h2></center>
<div class="float-left"><%= button_to "Back",vegetables_path %></div><br>

<div id="cart_grid">

  <table class="table">
   <thead class="thead-light">
     <tr>
       <th scope="col">Sr N0</th>
       <th scope="col">Items</th>
       <th scope="col">Action</th> 
     </tr>
   </thead>
    <tbody>
      <div id="cart_grid bg-danger">
       <%= render partial: 'cart_list', locals: { cartdata: cartdata } %>
	    </div>
    </tbody>
  </table>
</div>
</div>


